<!-- "at" means that we want to inject some code-->
@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Welcom to the World</h1>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View My Trips</a>
    </div>
</div>