<!-- "at" means that we want to inject some code-->
@{ 
    ViewBag.Title = "Home Page";
}

<h2>Hello world</h2>
<p>TBD</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>